<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-webview"
        version="0.0.1">
    <engines>
        <engine name="cordova" version=">=4.0.0" />
    </engines>
    <name>WebView</name>
    <description>open url with WebView</description>
    <author>luo cong qiu</author>
    <keywords>cordova, WebView ,browser,html,html5, ios, android</keywords>
    <js-module src="www/WebView.js" name="WebView">
        <clobbers target="window.WebView" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="WebView">
                <param name="ios-package" value="CDVWebView" />
            </feature>
        </config-file>

        <header-file src="src/ios/CDVWebView.h" />
        <source-file src="src/ios/CDVWebView.m" />
        <header-file src="src/ios/CDVWebViewController.h" />
        <source-file src="src/ios/CDVWebViewController.m" />
        <header-file src="src/ios/CDVWebViewOptions.h" />
        <source-file src="src/ios/CDVWebViewOptions.m" />

        <resource-file src="src/ios/Resources/ic_back.png" />
        <resource-file src="src/ios/Resources/ic_back@2x.png" />
        <resource-file src="src/ios/Resources/ic_back@3x.png" />
        <resource-file src="src/ios/Resources/ic_close.png" />
        <resource-file src="src/ios/Resources/ic_close@2x.png" />
        <resource-file src="src/ios/Resources/ic_close@3x.png" />
    </platform>
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WebView">
                <param name="android-package" value="com.cordova.plugins.webview.WebViewPlugin" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.cordova.plugins.webview.WebViewActivity" android:theme="@android:style/Theme.Light.NoTitleBar" />
        </config-file>

        <source-file src="src/android/WebViewActivity.java" target-dir="src/com/cordova/plugins/webview" />
        <source-file src="src/android/WebViewPlugin.java" target-dir="src/com/cordova/plugins/webview" />
        <source-file src="src/android/WebViewOptions.java" target-dir="src/com/cordova/plugins/webview" />

        <source-file src="src/android/res/drawable-hdpi/ic_back.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/res/drawable-mdpi/ic_back.png" target-dir="res/drawable-mdpi" />
        <source-file src="src/android/res/drawable-xhdpi/ic_back.png" target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xxhdpi/ic_back.png" target-dir="res/drawable-xxhdpi" />
        <source-file src="src/android/res/drawable-hdpi/ic_close.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/res/drawable-mdpi/ic_close.png" target-dir="res/drawable-mdpi" />
        <source-file src="src/android/res/drawable-xhdpi/ic_close.png" target-dir="res/drawable-xhdpi" />
        <source-file src="src/android/res/drawable-xxhdpi/ic_close.png" target-dir="res/drawable-xxhdpi" />
        <source-file src="src/android/res/layout/activity_web_view.xml" target-dir="res/layout" />
    </platform>
</plugin>
